@model homework1.Models.客戶資料

@{
    ViewBag.Title = "Details";
}

@Html.DisplayForModel()

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index", "客戶資料")">客戶資料</a><i class="icon-angle-right"></i>
    </li>
    <li><a href="@Url.Action("Details", "客戶資料")">客戶詳細資料</a></li>
}