@model IEnumerable<homework1.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}

@Html.DisplayForModel("客戶資料Index")

@section breadcrumb{
    <li>
    <a href="@Url.Action("Index", "客戶資料")">客戶資料</a><i class="icon-angle-right"></i></li>
    <li><a href="@Url.Action("Index", "客戶資料")">Index</a></li>
}